# ignore anyhting stored in any folder called data throughout repo
**/!data/**
*.csv
**/__pycache__
*.pyc

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# ignore generated outputs
CAFE_Comment_Pulling_Tool/src/.Rhistory
CAFE_Comment_Pulling_Tool/attachments/*
CAFE_Comment_Pulling_Tool/index/*
CAFE_Comment_Pulling_Tool/!attachments/.gitkeep
CAFE_Comment_Pulling_Tool/!index/.gitkeep
